
$font_path = '~@/assets/';

@font-face
  font-family RobotoRegular
  src url($font_path + '/Roboto-Regular.ttf')


$font = RobotoRegular;

$lighten-4 = #F8BBD0;
$lighten-3 = #F48FB1;
$lighten-2 = #F06292;

$page-padding = 10px 30px;

*
  font-family $font
body
  margin 0
  padding 0
