
$font_path = "~@/assets/fonts";

@font-face
  font-family Ubuntu
  src url($font_path + "/Ubuntu-Regular.ttf")


$font = Ubuntu;

$lighten-4 = #F8BBD0;
$lighten-3 = #F48FB1;
$lighten-2 = #F06292;
$milk = #f7f7f7;
$primary =#444;
$link-color = $lighten-2;
$red-color = #E84C3D;

$page-padding = 10px 30px;

*
  font-family $font
body
  margin 0
  color $primary
  padding 0
